.card {
  box-sizing: border-box;
  margin: 0 auto;
  width: 712px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  div {
    text-align: right;
    margin: 10px;
    input {
      padding: 5px;
      width: 400px;
      margin-right: 15px;
    }
    button {
      padding: 5px;
    }
  }
}
